<h1>Search Results</h1>
<% @asanas.each do |asana| %>
<h2>Asana Name: <%= asana.asana_name %></h2>
<h4>Asana Type: <%= asana.asana_type %></h4>
<h4>Target Area: <%= asana.target_general %></h4>
<h4>Target Body Part: <%= asana.target_specific %></h4>
<h4>Difficulty: <%= asana.difficulty %></h4>
<h4>Duration: <%= asana.duration %></h4>
<% end %>