<table class="table">
    <thead>
        <tr>
            <th scope="col">Asana Name</th>
            <th scope="col">Asana Type</th>
            <th scope="col">Target Area</th>
            <th scope="col">Target Body Part</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Duration</th>
        </tr>
    </thead>
    <tbody>
    <%= @asanas.each do |asana| %>
        <tr>
            <td><%= asana.asana_name%></td>
            <td><%= asana.asana_type%></td>
            <td><%= asana.target_general%></td>
            <td><%= asana.target_specific%></td>
            <td><%= asana.difficulty%></td>
            <td><%= asana.duration%></td>
        </tr>
    <% end %>
    </tbody>
</table>