<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prana</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class="container-fluid align-self-center justify-content-center border border-white" style="background-color: ccccff;">
    <%= render "shared/navbar" %>
        <div class="row justify-content-center mx-auto">
            <div class="col-8 align-self-center justify-content-center border border-5 border-info min-vh-100 bg-white" style="--bs-bg-opacity: .9">
                <%= yield %>
            </div>
        </div>
        <%= render "shared/copyright" %>
    </div>
</body>
<%= render "shared/ascii_sig" %>